@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap');

.header{
    position:relative;
    display: inline-block;
    width:100%;
    top:10px;
}

.field{
    width:100%;
    font-size: 20px;
}

.logo{
    position:relative;
    display:inline-block;
    left:40px;
    bottom:18px;
    font-size:50px;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

.logoPic{
    position:relative;
    display:inline-block;
}

.searchHead{
    position:relative;
    float:center;
}

.login-signup{
    position:relative;    
    float:right;
}

.categories{
    position:relative;
    font-size:30px;
    top:10px;
}

.filter{
    position:relative;
    display:inline-block;
    font-size:20px;
    left:20px;
    top:40px;
}

.itemGrid{
    position:relative;
    display:inline-block;
    float:right;
    width:80%;
    right:30px;
    top:40px;
}

.image{
    width:250px;
    height:250px;
}

p{
    font-size:20px;
}