
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@600&family=Ubuntu:wght@700&display=swap');

h1 {
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    font-family: 'Merriweather Sans', sans-serif;
}

.head{
    position:relative;
    left:80px;
    display:inline-block;
}

.name{
    width:200px;
}

.btnSignup{
    position:relative;
    left:10px;
}

.signUpPic{
    position:relative;
    display:inline-block;
    left:200px;
}